.header-section {
  background-color: #0099ff;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.name {
  color: white;
}

.designation {
  color: #181818;
}

.experience-section {
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.projects-section {
  background-color: #0099ff;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.skills-section {
  background-color: white;
  padding-right: 50px;
  padding-left: 80px;
  padding-bottom: 20px;
}

.footer-section {
  background-color: #0099ff;
  padding-left: 50px;
  padding-right: 50px;
}

.link {
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  transition: all .5s ease-in-out;
  display: inline-block;
}

.link:hover {
  transform: scale(1.5);
}